############################
# General
############################
**/.DS_Store
**/Thumbs.db
**/*.log
**/*.tmp
**/*.swp
**/*.swo
**/*.bak
**/*.orig

############################
# IDEs / Editors
############################
**/.idea/
**/.vscode/
**/*.iml
**/*.ipr
**/*.iws

############################
# Kotlin / Java / Gradle
############################
**/.gradle/
**/build/
**/out/
!**/gradle/wrapper/gradle-wrapper.jar

**/*.class
**/*.jar
**/*.war
**/*.ear

############################
# Android
############################
**/local.properties
**/captures/
**/.externalNativeBuild/
**/.cxx/

############################
# Flutter
############################
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub-cache/
**/.pub/
**/build/
**/.dart_tool/
**/ios/Pods/
**/ios/.symlinks/
**/android/.gradle/
**/android/app/build/
**/android/local.properties
**/generated_plugin_registrant.dart

############################
# React / Node
############################
**/node_modules/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

**/dist/
**/build/
**/.next/
**/out/

**/.env
**/.env.*
!**/.env.example

############################
# Testing
############################
**/coverage/
**/*.lcov

############################
# Misc
############################
**/*.lock
**/*.pid
